<div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark" style="width: 280px; height: 100%;">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
      <span class="fs-4">infiniteeclassroom</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a href="#" class="nav-link active" aria-current="page">
            <i class="fa-solid fa-house"></i> Accueil
        </a>
      </li>
      <li>
        <a href="#" class="nav-link text-white">
            <i class="fa-solid fa-book"></i> Cours
        </a>
      </li>
      <li>
        <a href="#" class="nav-link text-white">
            <i class="fa-solid fa-award"></i> Certifications
        </a>
      </li>
      <li>
        <a href="#" class="nav-link text-white">
            <i class="fa-solid fa-gear"></i> Paramètres
        </a>
      </li>
    </ul>
    <hr>
  </div>
