<p class="fw-bold fs-1 text-center">Avec des pationnés pédagogues</p>

  <div class="container mt-5 mb-3">
    <div class="d-flex justify-content-between">
      <div class="card card-custom">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Infographie 2D</h5>
          <p class="card-text">Initiation à photoshop.</p>
          <p><i class="fa-solid fa-clock"></i> 01 Mois</p>
          <p><i class="fa-solid fa-signal"></i> Facile</p>
          <p><i class="fa-solid fa-medal"></i> Certificat</p>
          <p><i class="fa-solid fa-dollar-sign"></i> Inscription 65000 XAF</p>
        </div>
      </div>
      <div class="card card-custom">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Infographie 2D</h5>
            <p class="card-text">Initiation à photoshop.</p>
            <p><i class="fa-solid fa-clock"></i> 01 Mois</p>
            <p><i class="fa-solid fa-signal"></i> Facile</p>
            <p><i class="fa-solid fa-medal"></i> Certificat</p>
            <p><i class="fa-solid fa-dollar-sign"></i> Inscription 65000 XAF</p>
          </div>
      </div>
      <div class="card card-custom">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Infographie 2D</h5>
            <p class="card-text">Initiation à photoshop.</p>
            <p><i class="fa-solid fa-clock"></i> 01 Mois</p>
            <p><i class="fa-solid fa-signal"></i> Facile</p>
            <p><i class="fa-solid fa-medal"></i> Certificat</p>
            <p><i class="fa-solid fa-dollar-sign"></i> Inscription 65000 XAF</p>
          </div>
      </div>
      <div class="card card-custom">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Infographie 2D</h5>
            <p class="card-text">Initiation à photoshop.</p>
            <p><i class="fa-solid fa-clock"></i> 01 Mois</p>
            <p><i class="fa-solid fa-signal"></i> Facile</p>
            <p><i class="fa-solid fa-medal"></i> Certificat</p>
            <p><i class="fa-solid fa-dollar-sign"></i> Inscription 65000 XAF</p>
          </div>
      </div>
      <div class="card card-custom">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Infographie 2D</h5>
            <p class="card-text">Initiation à photoshop.</p>
            <p><i class="fa-solid fa-clock"></i> 01 Mois</p>
            <p><i class="fa-solid fa-signal"></i> Facile</p>
            <p><i class="fa-solid fa-medal"></i> Certificat</p>
            <p><i class="fa-solid fa-dollar-sign"></i> Inscription 65000 XAF</p>
          </div>
      </div>
    </div>
</div>
<div class="container mt-5 mb-3">
    <div class="d-flex justify-content-between">
      <div class="card card-custom">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Infographie 2D</h5>
          <p class="card-text">Initiation à photoshop.</p>
          <p><i class="fa-solid fa-clock"></i> 01 Mois</p>
          <p><i class="fa-solid fa-signal"></i> Facile</p>
          <p><i class="fa-solid fa-medal"></i> Certificat</p>
          <p><i class="fa-solid fa-dollar-sign"></i> Inscription 65000 XAF</p>
        </div>
      </div>
      <div class="card card-custom">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Infographie 2D</h5>
            <p class="card-text">Initiation à photoshop.</p>
            <p><i class="fa-solid fa-clock"></i> 01 Mois</p>
            <p><i class="fa-solid fa-signal"></i> Facile</p>
            <p><i class="fa-solid fa-medal"></i> Certificat</p>
            <p><i class="fa-solid fa-dollar-sign"></i> Inscription 65000 XAF</p>
          </div>
      </div>
      <div class="card card-custom">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Infographie 2D</h5>
            <p class="card-text">Initiation à photoshop.</p>
            <p><i class="fa-solid fa-clock"></i> 01 Mois</p>
            <p><i class="fa-solid fa-signal"></i> Facile</p>
            <p><i class="fa-solid fa-medal"></i> Certificat</p>
            <p><i class="fa-solid fa-dollar-sign"></i> Inscription 65000 XAF</p>
          </div>
      </div>
      <div class="card card-custom">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Infographie 2D</h5>
            <p class="card-text">Initiation à photoshop.</p>
            <p><i class="fa-solid fa-clock"></i> 01 Mois</p>
            <p><i class="fa-solid fa-signal"></i> Facile</p>
            <p><i class="fa-solid fa-medal"></i> Certificat</p>
            <p><i class="fa-solid fa-dollar-sign"></i> Inscription 65000 XAF</p>
          </div>
      </div>
      <div class="card card-custom">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Infographie 2D</h5>
            <p class="card-text">Initiation à photoshop.</p>
            <p><i class="fa-solid fa-clock"></i> 01 Mois</p>
            <p><i class="fa-solid fa-signal"></i> Facile</p>
            <p><i class="fa-solid fa-medal"></i> Certificat</p>
            <p><i class="fa-solid fa-dollar-sign"></i> Inscription 65000 XAF</p>
          </div>
      </div>
    </div>
</div>